<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DelimitedFileViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DelimitedFileViewer.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>500, 650</value>
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Delimiter" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="ToggleHeader" serializeAs="String">
                <value>False</value>
            </setting>
        </DelimitedFileViewer.Properties.Settings>
    </userSettings>
</configuration>